{{page-title "ECommerce"}}


<body>
    <header>
        <h1>Welcome to E commerce </h1>
        <h3>Here u can buy amazing phones in affordable prices</h3>
        
    </header>
    <div id="lists">
        <LinkTo @route="items">
            <button class="btn">View Gallery</button>
        </LinkTo>
        <LinkTo @route="add-item">
            <button class="btn"> Add item</button>
        </LinkTo>

    </div>
    {{outlet}}

    <footer>
        <address>
            <p>Contact : 9835667351</p>
            <p>Email : ecommerce@amazon.com</p>

        </address>
    </footer>
</body>